<ion-header>
  <ion-toolbar>
    <ion-title>grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let place of places"
               size-xs="12"
               size-sm="6"
               size-md="4">
        <ion-card button="true"
                  (click)="placeSelected(place.title)">
          <img [src]="'/assets/img/places/' + place.img + '.jpg'">
          <ion-card-header>
            <ion-card-title>
              {{place.title}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>