<ion-header>
  <ion-toolbar>
    <ion-title>grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <p *ngIf="showTypesTop"
       style="margin-left: 16px; margin-top: 0; margin-bottom: 0;">
      <ion-chip outline
                (click)="onTypePress(type)"
                [color]="isSelectedType(type)"
                *ngFor="let type of types">
        <ion-icon [name]="mapTypeToIcon(type)"></ion-icon>
        <ion-label>{{type}}</ion-label>
      </ion-chip>
    </p>
    <ion-item button
              (click)="showTypesTop = !showTypesTop"
              detail="false">
      <ion-icon name="caret-down"
                slot="end"
                *ngIf="showTypesTop"></ion-icon>
      <ion-icon name="caret-up"
                slot="end"
                *ngIf="!showTypesTop"></ion-icon>
      <ion-label>Choose type (top appearence)</ion-label>
    </ion-item>

    <ion-item button
              (click)="showTypes = !showTypes"
              detail="false">
      <ion-icon name="caret-down"
                slot="end"
                *ngIf="showTypes"></ion-icon>
      <ion-icon name="caret-up"
                slot="end"
                *ngIf="!showTypes"></ion-icon>
      <ion-label>Choose type (bottom appearence)</ion-label>
    </ion-item>
    <p style="margin-left: 16px; margin-top: 0;"
       *ngIf="showTypes">
      <ion-chip outline
                (click)="onTypePress(type)"
                [color]="isSelectedType(type)"
                *ngFor="let type of types">
        <ion-icon [name]="mapTypeToIcon(type)"></ion-icon>
        <ion-label>{{type}}</ion-label>
      </ion-chip>
    </p>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let place of places"
               size-xs="12"
               size-sm="6"
               size-md="4">
        <ion-card button="true"
                  (click)="placeSelected(place)">
          <img [src]="'/assets/img/places/' + place.img + '.jpg'">
          <ion-card-header>
            <ion-card-title>
              {{place.title}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>