.modal-page {
    position: absolute;
    overflow: hidden;
    border-top-left-radius: 45vw;
    border-top-right-radius: 45vw;
    width: 90vw;
    height: 80vh;
    top: 20vh;
    bottom: 0;
    left: 5vw;
    right: 5vw;
    margin: auto;
    border: 0;
    --background: blue;
    display: flex;
    flex-direction: column;
}
.parent {
    // display: flex;
    width: 90vw;
    position: absolute;
    bottom: 0;
    background-color: green;
}