<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>PWA DevOps learning</strong>
    <p>This project is intended to learn how to build Power Web Apps with Ionic SDK and Angular</p>
    <p>It is also used to learn practicalities of DevOps using GitHub Actions and Google Firebase</p>
  </div>

  <ion-card color="warning">
    <ion-card-header class="ion-text-center">
      <ion-card-title>
        DEVELOPMENT
      </ion-card-title>
      <ion-card-subtitle>
        This is development environment
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header class="ion-text-center">
      <ion-card-title>
        New card with title
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>